* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Comfortaa", sans-serif;
    overflow-x: hidden;
}

main {
    flex: 1 1 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin:  15px;
    align-items: center;
}

.nav-btns {
    padding-right: 8rem;
}

.btns {
    font-size: 1.4rem;
    background: none;
    border: none;
    padding: 10px;
    border-radius: 0.8rem;
    transition: 250ms;
}

.btns:hover {
    font-size: 1.6rem;
    background-color: rgba(0, 128, 0, 0.377);
    transition: none;
}

.btns:active {
    border: 2px solid rgb(0, 128, 0);
    background-color: white;
}

.btns a {
    text-decoration: none;
    color: black;
}

#social_media {
    position: relative;
    padding-right: 3rem;
    padding-left: 2rem;
    height: auto;
    width: auto;
}

#nav_insta {
    height: 3rem;
    margin-right: 8px;
    transition: 300ms;
}

#nav_insta:hover {
    transform: scale(1.1);
}

#nav_yt {
    height: 3rem;
    transition: 300ms;  
}

#nav_yt:hover {
    transform: scale(1.1);
}

.top_section {
    margin: 0;
}

#foco {
    font-size: 4rem;
    font-weight: 900;
}

.legenda {
    font-weight: 300;
    position:absolute;
    top: 12.5rem;
    color: whitesmoke;
    font-size: 2em;
    font-weight: 500;
    margin: 0rem 4rem;
    line-height: 9vh;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#info h1 {
    font-size: 2.5rem;
    text-align: center;
}

#info p {
    font-size: 1.5rem;
    text-align: center;
}

iframe {
    margin-top: 1.2rem;
    opacity: 0.6;
    border-radius: 1rem;
    transition: 300ms;;
    border: none;
    justify-items: center;
}

iframe:hover {
    opacity: 1;
    transform: scale(1.1);
    margin-top: 2rem;
    margin-left: 1rem;
    border: none;
}

.cards-container {
    display: flex;
    gap: 2rem;
    margin: 0 2rem;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 25vw;
    width: 25%;
    border-radius: 20px;
    border: 2px solid green;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cards p {
    margin: 0 2rem;
    text-align: center;
}

.figure {
    display: flex;
    margin: 1rem;
    height: 6rem;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 3rem;
    background-color: red;
}

.figure svg {
    height: 50%;
    width: 50%;
}

.cards img {
    margin: 1rem;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 2;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: rgb(20, 20, 20);
    color: whitesmoke;
}

.footer-insta {
    background: none;
    border: none;
}

.footer-insta svg {
    height: 1.5rem;
    width: 1.5rem;
}

.footer-insta svg:hover {
    cursor: pointer;
}

.help ul li {
    display: flex;
    text-decoration: underline;
}

.help ul li:hover {
    cursor: pointer;
}

.help ul li svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

#employee_btn button {
    height: 3rem;
    width: 15rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    border: none;
    color: #f5f5f5;
    background-color: #313131;
    transition: 250ms;
}

#employee_btn button:hover {
    transition: 250ms;
    color: #313131;
    background-color: #f5f5f5;
    font-weight: 700;
}

#employee_btn button a {
    text-decoration: none;
    color: #f5f5f5;
}

#employee_btn button a:hover {
    color: #313131;   
    
}